<div class="title">Stream Search

</div>

<div id="search">
    <input type="text" placeholder="Enter your query" />
  </div>

  <div id="buttons">
<button> List </button>
<button> Service </button>
</div>
