<div class="title">Stream Searcher

</div>

<div id="search">
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:userinput) %> 
    <%= submit_tag("Search") %>
  <% end %>
</div>
    <!-- <input type="text" placeholder="Movie Search" /> -->


  <!-- <div id="buttons">
<button> List </button>
<button> Service </button> -->
<!-- </div> -->
