<<<<<<< HEAD
<h1>MovieList#index</h1>
<p>Find me in app/views/movie_list/index.html.erb</p>

<h1>Movie result</h1>
<dl>
  <% @all.each do |key, value| %>
    <dt><%= key %>
    <dd><%= value %>
  <% end %>
</dl>
=======
<div class="title">Stream Search

</div>

<div id="search">
    <input type="text" placeholder="Movie Search" />
  </div>

  <div id="buttons">
<button> List </button>
<button> Service </button>
</div>
>>>>>>> b26eada1a80d825f266eb87d1469b2bbc0c33a49
