<div class="title">Stream Search

</div>

<div id="search">
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:userinput) %>
    <%= submit_tag("Search") %>
  <% end %>

    <!-- <input type="text" placeholder="Movie Search" /> -->
  </div>

  <!-- <div id="buttons">
<button> List </button>
<button> Service </button> -->
<!-- </div> -->
