
<div class="title">Stream Search

</div>

<div id="search">
  <!-- <%#= text.input :userinput => 'userinput', input_html: {name} %> -->
  <%= form_tag("/MovieListController", method: "searchAPI") do %>

    <input type="text" placeholder="Movie Search" />

  <% end %>
  </div>

  <div id="buttons">
<button> List </button>
<button> Service </button>
</div>
