// Place all the styles related to the MovieList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	min-width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;


}

header,
section,
nav,
aside,
footer {
	display: block;
	color: black;
	font-size: 20px
}
//
// .header {
// 	// background: grey;
// 	min-height: 30px;
// 	width: 50%;
// 	order: 1;
//   text-align: center;;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   border-radius: 5px;



// a{
//   text-align: center;
//   // vertical-align: bottom;
// }

// section {
// 	min-width: 100%;
// 	margin: 20px 0;
// 	display: flex;
// 	order: 2;
// 	// flex: 1;
//   height: 300px;
// 	}

// nav {
// 		// background: hsla(300, 60%, 20%, .9);
// 	padding: 50%, 1%;
// 	width: 220px;
// 	flex: 1;
// 	order: 1;
// }
// //
article {
	// background: hsla(120, 50%, 50%, .9);
	padding: 1%;
	margin: auto;
	// margin-right: 50%;
	// flex: 1;
	// order: 2;
}

// aside {
// 	// background: hsla(20, 80%, 80%, .9);
// 	padding: 1%;
//   margin-right: 2%;
// 	width: 220px;
// 	flex: 1;
// 	order: 2;
// 	font-size: 20px;
// }
footer {
	// background: hsla(250, 50%, 80%, .9);
	min-height: 60px;
	padding: 1%;
	min-width: 100%;
	order: 3;
	margin-top: auto;
}
